<%# app/views/staff/orders/show.html.erb %>
<%= render layout: "staff/layout" do %>
  <div data-controller="layout--tab-init" 
       data-layout--tab-init-label-value="订单<%= @order.order_no%>" 
       data-layout--tab-init-path-value="<%= request.path %>">
  <%# 这里的代码会注入到 layout 的 yield 位置，也就是 main_content 内部 %>
  <%= render Staff::OrderShowComponent.new(order: @order) %>

  </div>
<% end %>
