<div class="flex justify-end items-center gap-4 pt-4 border-t border-slate-100">
  <a href="<%= request.referer %>" data-order--edit-component-target="submitBtn" 
     class="text-xs font-bold text-slate-400 hover:text-slate-600">
    取消
  </a>
  <button type="submit" data-order--edit-component-target="submitBtn"
          class="flex items-center gap-2 px-12 py-3 bg-[#0066b3] text-white text-xs font-black rounded-xl hover:bg-[#005596] shadow-md cursor-pointer active:scale-95 transition-all disabled:opacity-50">
    确认并提交
    <%= heroicon "paper-airplane", variant: :solid, options: { class: "h-3.5 w-3.5" } %>
  </button>
</div>