<%# app/views/base/profile.html.erb %>
<%
  template = "designer/layout" if current_user.designer?
  template = "staff/layout" if current_user.staff?
  template = "finance/layout" if current_user.finance?
%>
<%= render layout: template do %>
  <div data-controller="layout--tab-init" 
       data-layout--tab-init-label-value="个人中心" 
       data-layout--tab-init-path-value="<%= request.path %>">
  <%# 这里的代码会注入到 layout 的 yield 位置，也就是 main_content 内部 %>
  <%= render Layout::ProfileComponent.new(user: current_user) %>

  </div>
<% end %>
