<%# app/views/admin/orders/show.html.erb %>
<%= render layout: "admin/layout" do %>
  <div data-controller="layout--tab-init" 
       data-layout--tab-init-label-value="订单<%= @order.order_no%>" 
       data-layout--tab-init-path-value="<%= request.path %>">
  <%# 这里的代码会注入到 layout 的 yield 位置，也就是 main_content 内部 %>
    <%= render Admin::OrderEditComponent.new(order: @order) %>
  </div>
<% end %>
