<% if @pagy.pages > 1 %>
	<div class="px-6 py-4 bg-slate-50 border-t border-slate-100 flex items-center justify-between">
	  <div class="text-[10px] text-slate-400 font-black tracking-widest uppercase"><%== @pagy.info_tag %></div>
	  <div class="flex items-center 
	              [&_nav]:inline-flex [&_nav]:rounded-xl [&_nav]:overflow-hidden [&_nav]:border [&_nav]:border-slate-300
	              [&_a]:px-4 [&_a]:py-2 [&_a]:text-xs [&_a]:font-black [&_a]:text-slate-600 [&_a]:bg-white [&_a:hover]:bg-[#0066b3] [&_a:hover]:text-white
	              [&_.current]:px-4 [&_.current]:py-2 [&_.current]:text-xs [&_.current]:font-black [&_.current]:bg-[#0066b3] [&_.current]:text-white [&_.current]:relative
	              [&_.current]:after:content-[''] [&_.current]:after:absolute [&_.current]:after:bottom-0 [&_.current]:after:left-0 [&_.current]:after:w-full [&_.current]:after:h-[3.5px] [&_.current]:after:bg-orange-400
	              [&_.disabled]:px-4 [&_.disabled]:py-2 [&_.disabled]:text-slate-300 [&_.disabled]:bg-slate-50">
	    <%== @pagy.series_nav %>
	  </div>
	</div>
<% end %>