<%# app/views/designer/orders/new.html.erb %>
<%= render layout: "designer/layout" do %>
  <%# 修正：将 closeable 改为 closable %>
  <div data-controller="layout--tab-init" 
       data-layout--tab-init-label-value="新增订单" 
       data-layout--tab-init-closable-value="false" 
       data-layout--tab-init-path-value="<%= request.path %>">
    
    <%# 这里的代码会注入到 layout 的 yield 位置 %>
    <%= render Designer::OrderNewComponent.new(user: current_user) %>
  </div>
<% end %>
